 # Ionome - LCMS package

In [1]:
# import path
from src.ionome_core import Ionome

In [2]:
import matplotlib.pyplot as plt
import numpy as np

In [3]:
first = Ionome(run_id="SL011", samples="samples_SL011.yaml")

>[2025-11-19 17:49:44][Ionome.__init__]
	Initializing run ID SL011 for analysis

In [4]:
first.load_data()

>[2025-11-19 17:49:44][Ionome.load_data]
	> Loading spectra data for sample SL011_EA_1...
	 Using cached file
	> Loading spectra data for sample SL011_EA_2...
	 Using cached file
	> Loading spectra data for sample SL011_PooledQC_1...
	 Using cached file
	> Loading spectra data for sample SL011_PooledQC_2...
	 Using cached file
	> Loading spectra data for sample SL011_PooledQC_3...
	 Using cached file
	> Loading spectra data for sample SL011_PooledQC_4...
	 Using cached file
	> Loading spectra data for sample SL011_MB_1...
	 Using cached file
	> Loading spectra data for sample SL011_PlasmaQC_1...
	 Using cached file
	> Loading spectra data for sample SL011_PlasmaQC_2...
	 Using cached file
	> Loading spectra data for sample SL011_PlasmaQC_3...
	 Using cached file
	> Loading spectra data for sample SL011_HS_1...
	 Using cached file
	> Loading spectra data for sample SL011_HS_2...
	 Using cached file
	> Loading spectra data for sample SL011_HS_3...
	 Using cached file
	> Loading spectra data for sample SL011_HS_4...
	 Using cached file
	> Loading spectra data for sample SL011_HS_5...
	 Using cached file
	> Loading spectra data for sample SL011_HS_6...
	 Using cached file
	> Loading spectra data for sample SL011_MB_2...
	 Using cached file

In [5]:
first_raw_df = first.data['SL011_EA_1'][first.data['SL011_EA_1']['mz'] == 50.049999]

In [6]:
first_raw_df

         ms_level  scan_id  retention_time   intensity         mz
38217           1       62        4.675117  395.270325  50.049999
50735           1       82        4.800233  299.855042  50.049999
95591           1      154        5.250617  335.729767  50.049999
97443           1      157        5.269383  349.152130  50.049999
98685           1      159        5.281900  315.724243  50.049999
...           ...      ...             ...         ...        ...
1699796         1     2695       21.145583  135.502182  50.049999
1723144         1     2732       21.377033  184.922073  50.049999
1785215         1     2830       21.990050  197.387848  50.049999
1826299         1     2895       22.396650  147.635544  50.049999
1831379         1     2903       22.446700  134.217392  50.049999

[88 rows x 5 columns]

In [7]:
first_raw_df = first.data['SL011_EA_1']
first_raw_df

         ms_level  scan_id  retention_time    intensity          mz
0               1        1        4.293550   430.933655   50.119999
1               1        1        4.293550   836.703247   50.910000
2               1        1        4.293550  1448.419556   52.040001
3               1        1        4.293550   293.509064   52.959999
4               1        1        4.293550   341.261475   54.090000
...           ...      ...             ...          ...         ...
1889741         1     2990       22.990917     4.432630  595.700012
1889742         1     2990       22.990917     3.410859  596.929993
1889743         1     2990       22.990917     0.733822  597.760010
1889744         1     2990       22.990917     1.921110  598.359985
1889745         1     2990       22.990917     0.810828  599.460022

[1889746 rows x 5 columns]

In [23]:
firstt_raw_df = first.data['SL011_EA_1']
print(firstt_raw_df.head().to_markdown())
print(firstt_raw_df.tail().to_markdown())

|    |   ms_level |   scan_id |   retention_time |   intensity |    mz |
|---:|-----------:|----------:|-----------------:|------------:|------:|
|  0 |          1 |         1 |          4.29355 |     430.934 | 50.12 |
|  1 |          1 |         1 |          4.29355 |     836.703 | 50.91 |
|  2 |          1 |         1 |          4.29355 |    1448.42  | 52.04 |
|  3 |          1 |         1 |          4.29355 |     293.509 | 52.96 |
|  4 |          1 |         1 |          4.29355 |     341.261 | 54.09 |
|         |   ms_level |   scan_id |   retention_time |   intensity |     mz |
|--------:|-----------:|----------:|-----------------:|------------:|-------:|
| 1889741 |          1 |      2990 |          22.9909 |    4.43263  | 595.7  |
| 1889742 |          1 |      2990 |          22.9909 |    3.41086  | 596.93 |
| 1889743 |          1 |      2990 |          22.9909 |    0.733822 | 597.76 |
| 1889744 |          1 |      2990 |          22.9909 |    1.92111  | 598.36 |
| 1889745 |          1 |      2990 |          22.9909 |    0.810828 | 599.46 |

In [9]:
first.extract_xic()

>[2025-11-19 17:50:01][Ionome.extract_xic]
	> Loading XIC cached data for sample(s) ['SL011_EA_1', 'SL011_EA_2', 'SL011_PooledQC_1', 'SL011_PooledQC_2', 'SL011_PooledQC_3', 'SL011_PooledQC_4', 'SL011_MB_1', 'SL011_PlasmaQC_1', 'SL011_PlasmaQC_2', 'SL011_PlasmaQC_3', 'SL011_HS_1', 'SL011_HS_2', 'SL011_HS_3', 'SL011_HS_4', 'SL011_HS_5', 'SL011_HS_6', 'SL011_MB_2']

WindowsPath('C:/Users/Patrick/Desktop/test_ionome/test_ionome/data/processed/SL011_mz_target.pkl')

In [10]:
first.df_xic["SL011_HS_1"]

{'p-coumerate':       scan_id  retention_time  intensity
 0           1        4.293383        0.0
 1           2        4.299633        0.0
 2           3        4.305883        0.0
 3           4        4.312150        0.0
 4           5        4.318400        0.0
 ...       ...             ...        ...
 2985     2986       22.965733        0.0
 2986     2987       22.971983        0.0
 2987     2988       22.978250        0.0
 2988     2989       22.984500        0.0
 2989     2990       22.990750        0.0

 [2990 rows x 3 columns],
 'urocanate':       scan_id  retention_time  intensity
 0           1        4.293383        0.0
 1           2        4.299633        0.0
 2           3        4.305883        0.0
 3           4        4.312150        0.0
 4           5        4.318400        0.0
 ...       ...             ...        ...
 2985     2986       22.965733        0.0
 2986     2987       22.971983        0.0
 2987     2988       22.978250        0.0
 2988     2989       22.984500        0.0
 2989     2990       22.990750        0.0

 [2990 rows x 3 columns],
 'caffeate':       scan_id  retention_time  intensity
 0           1        4.293383        0.0
 1           2        4.299633        0.0
 2           3        4.305883        0.0
 3           4        4.312150        0.0
 4           5        4.318400        0.0
 ...       ...             ...        ...
 2985     2986       22.965733        0.0
 2986     2987       22.971983        0.0
 2987     2988       22.978250        0.0
 2988     2989       22.984500        0.0
 2989     2990       22.990750        0.0

 [2990 rows x 3 columns],
 'cinnamate':       scan_id  retention_time      intensity
 0           1        4.293383       0.000000
 1           2        4.299633       0.000000
 2           3        4.305883       0.000000
 3           4        4.312150   70983.546875
 4           5        4.318400  153702.812500
 ...       ...             ...            ...
 2985     2986       22.965733       0.000000
 2986     2987       22.971983       0.000000
 2987     2988       22.978250       0.000000
 2988     2989       22.984500       0.000000
 2989     2990       22.990750       0.000000

 [2990 rows x 3 columns],
 'ferulate':       scan_id  retention_time  intensity
 0           1        4.293383        0.0
 1           2        4.299633        0.0
 2           3        4.305883        0.0
 3           4        4.312150        0.0
 4           5        4.318400        0.0
 ...       ...             ...        ...
 2985     2986       22.965733        0.0
 2986     2987       22.971983        0.0
 2987     2988       22.978250        0.0
 2988     2989       22.984500        0.0
 2989     2990       22.990750        0.0

 [2990 rows x 3 columns],
 'sinapate':       scan_id  retention_time   intensity
 0           1        4.293383    0.000000
 1           2        4.299633    0.000000
 2           3        4.305883  480.594482
 3           4        4.312150    0.000000
 4           5        4.318400    0.000000
 ...       ...             ...         ...
 2985     2986       22.965733    0.000000
 2986     2987       22.971983    0.000000
 2987     2988       22.978250    0.000000
 2988     2989       22.984500    0.000000
 2989     2990       22.990750    0.000000

 [2990 rows x 3 columns]}

In [13]:
first.df_xic["SL011_EA_1"]

{'p-coumerate':       scan_id  retention_time  intensity
 0           1        4.293550        0.0
 1           2        4.299800        0.0
 2           3        4.306050        0.0
 3           4        4.312317        0.0
 4           5        4.318567        0.0
 ...       ...             ...        ...
 2985     2986       22.965900        0.0
 2986     2987       22.972150        0.0
 2987     2988       22.978417        0.0
 2988     2989       22.984667        0.0
 2989     2990       22.990917        0.0

 [2990 rows x 3 columns],
 'urocanate':       scan_id  retention_time  intensity
 0           1        4.293550        0.0
 1           2        4.299800        0.0
 2           3        4.306050        0.0
 3           4        4.312317        0.0
 4           5        4.318567        0.0
 ...       ...             ...        ...
 2985     2986       22.965900        0.0
 2986     2987       22.972150        0.0
 2987     2988       22.978417        0.0
 2988     2989       22.984667        0.0
 2989     2990       22.990917        0.0

 [2990 rows x 3 columns],
 'caffeate':       scan_id  retention_time  intensity
 0           1        4.293550        0.0
 1           2        4.299800        0.0
 2           3        4.306050        0.0
 3           4        4.312317        0.0
 4           5        4.318567        0.0
 ...       ...             ...        ...
 2985     2986       22.965900        0.0
 2986     2987       22.972150        0.0
 2987     2988       22.978417        0.0
 2988     2989       22.984667        0.0
 2989     2990       22.990917        0.0

 [2990 rows x 3 columns],
 'cinnamate':       scan_id  retention_time   intensity
 0           1        4.293550    0.000000
 1           2        4.299800  586.171692
 2           3        4.306050  561.191895
 3           4        4.312317    0.000000
 4           5        4.318567  580.516785
 ...       ...             ...         ...
 2985     2986       22.965900    0.000000
 2986     2987       22.972150    0.000000
 2987     2988       22.978417    0.000000
 2988     2989       22.984667    0.000000
 2989     2990       22.990917    0.000000

 [2990 rows x 3 columns],
 'ferulate':       scan_id  retention_time  intensity
 0           1        4.293550        0.0
 1           2        4.299800        0.0
 2           3        4.306050        0.0
 3           4        4.312317        0.0
 4           5        4.318567        0.0
 ...       ...             ...        ...
 2985     2986       22.965900        0.0
 2986     2987       22.972150        0.0
 2987     2988       22.978417        0.0
 2988     2989       22.984667        0.0
 2989     2990       22.990917        0.0

 [2990 rows x 3 columns],
 'sinapate':       scan_id  retention_time  intensity
 0           1        4.293550        0.0
 1           2        4.299800        0.0
 2           3        4.306050        0.0
 3           4        4.312317        0.0
 4           5        4.318567        0.0
 ...       ...             ...        ...
 2985     2986       22.965900        0.0
 2986     2987       22.972150        0.0
 2987     2988       22.978417        0.0
 2988     2989       22.984667        0.0
 2989     2990       22.990917        0.0

 [2990 rows x 3 columns]}